{% extends 'base.html' %}
{% load static %}

{% block title %}Sobre Nosotros - Team Sublima{% endblock %}


{% block content %}
<div class="boxHeader" style="background-color: lightblue;">
    <div class="textosHeader animate__animated animate__fadeInLeft">
        <h1><b>Sobre Nosotros</b></h1>
        <p>Conoce más sobre Team Sublima y nuestra pasión por la personalización de productos.</p>
    </div>
    <div class="imgHeader animate__animated animate__fadeInRight">
        <img src="{% static 'images/teamSublima.jpg' %}" alt="Team Sublima">
    </div>
</div>
<section class="boxAbout" id="linkAbout">
    <h3>Nuestra Historia</h3>

    <div class="about">
        <div class="imgAbout">
            <img src="{% static 'images/sublimacion.jpg' %}" alt="Proceso de Sublimación">
        </div>

        <article class="contenidoAbout">
            <h3>¿Qué es la Sublimación?</h3>
            <p>La sublimación es un proceso de impresión que se utiliza para transferir diseños a productos como tazas, ropa, y vasos. Este método implica el uso de tintas especiales que se convierten en gas sin pasar por la fase líquida cuando se calientan.</p>
            <p>En Team Sublima, nos especializamos en este proceso para crear productos únicos y personalizados para nuestros clientes.</p>
        </article>
    </div>
</section>
{% endblock %}