{% extends 'base.html' %}
{% load static %}

{% block title %}Detalles del Producto - {{ producto.nombre }}{% endblock %}


{% block content %}
<div class="boxHeader" style="background-color: lightblue;">
    <div class="textosHeader animate__animated animate__fadeInLeft">
        <h1><b>{{ producto.nombre }}</b></h1>
        <p>{{ producto.descripcion|linebreaks }}</p>
    </div>
    <div class="imgHeader animate__animated animate__fadeInRight">
        <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
    </div>
</div>
<section class="detalle-producto">
    <h2>{{ producto.nombre }}</h2>
    <h3>Precio: ${{ producto.precio }}</h3>

    {% if producto.stock <= 0 %}
    <h5>No hay Stock de este producto</h5>
    {% else %}
    <a href="{% url 'añadir_carrito' producto.id%}" class="btn btn-primary">Añadir al Carrito</a>
    {% endif%}
    <a href="{% url 'productos' %}" class="btn btn-primary">Volver al Catálogo</a>
</section>
{% endblock %}