{% extends 'base.html' %}
{% load static %}

{% block title %}Productos - Team Sublima{% endblock %}

{% block header_content %}
<div class="boxHeader" style="background-color: pink;">
    <div class="textosHeader animate__animated animate__fadeInLeft">
        <h1><b>Nuestros Productos</b></h1>
        <p>Descubre nuestra amplia gama de productos personalizables. Desde camisetas hasta tazas, tenemos todo lo que necesitas para dar vida a tus ideas.</p>
    </div>
    <div class="imgHeader animate__animated animate__fadeInRight">
        <img src="{% static 'images/teamSublima.jpg' %}" alt="Team Sublima">
    </div>
</div>
{% endblock %}

{% block content %}
<section class="boxFeatures" id="linkFeatures">
    <h3>Catálogo de Productos</h3>

    <div class="features">
        {% for producto in productos %}
        <div class="cardFeatures">
            
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            <h4><a href="/productos/{{producto.id}}">{{ producto.nombre }}</a></h4>
            <p>
                {{ producto.descripcion|linebreaks }}
                Precio: ${{ producto.precio }}
            </p>
        </div>
        {% empty %}
        <p>No hay productos disponibles en este momento.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}